<%- include('layout/auth_header.ejs') %>

<%- include('layout/auth_topbar.ejs') %>

<!-- ***** Main Banner Area Start ***** -->
<section class="section main-banner" id="top" data-section="section1">
  <div class="img-banner">
    <img src="images/akun/cent/cent-account-type-hero.jpg" alt="">
  </div>

  <div class="banner-overlay header-text banner-copy">
    <div class="caption2">
      <div class="row">
        <div class="col-md-6 ">
          <small class="text-uppercase text-muted pl-4" style="font-weight: 800;">PENDAFTARAN AKUN CENT</small>
          <h2 class="mt-2 text-left">Lot Cent
            Memulai trading forex hanya dengan $1</h2>
          <h4 class="mt-5 text-left">Akun Cent memungkinkan Anda melakukan trading dalam nominal cent, dengan eksekusi
            order cepat
            dan spread tetap. Akun ini sangat baik untuk latihan trading atau untuk mencoba strategi perdagangan baru,
            EA /robot trading dan indikator.</h4>
        </div>
      </div>
      <a class="btn btn-success text-light text-sm-center ml-4 mt-2"
        href="https://account.forex4uid.com/id/user-registration/cent/">Daftar
        Akun
        Cents</a>
    </div>
  </div>
</section>
<!-- ***** Main Banner Area End ***** -->

<!-- //=============================================== Contain Fist ========================================= -->
<section class="section investing-col-bg2 content-first">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="icon-inv">
          <div class="card" style="width: 10rem;">
            <div class="content-icon">
              <img src="images/layanan/gold-ingots.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Lebih dari 80 instrumen</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="icon-inv">
          <div class="card" style="width: 10rem;">
            <div class="content-icon">
              <img src="images/layanan/experiment.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Didukung EA</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="icon-inv">
          <div class="card" style="width: 10rem;">
            <div class="content-icon">
              <img src="images/layanan/arrows.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Spread tetap</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="icon-inv">
          <div class="card" style="width: 10rem;">
            <div class="content-icon">
              <img src="images/layanan/line-chart.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Bisa menggunakan hedging dan scalping</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="icon-inv">
          <div class="card" style="width: 10rem;">
            <div class="content-icon">
              <img src="images/layanan/process.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Eksekusi cepat</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="icon-inv">
          <div class="card" style="width: 10rem;">
            <div class="content-icon">
              <img src="images/investing/world-wide-web.png" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">Tersedia layanan Share4you</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- //=============================================== End Contain Fist ========================================= -->

<!-- //============================ table akun =============================== -->
<section class="section media-trading">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-heading">
          <h2>Akun Cents</h2>

        </div>
      </div>
    </div>

    <div class="row">
      <table class="table tb-media table-bordered table-striped table-light">
        <thead class="table-dark">
          <tr>
            <th scope="col mt-2">
              <h3>Akun <%= Akun1 %> </h3>
              <p class="text-light">Memiliki trading instrumen sebagai berikut : 40+ pasangan mata uang, 2 komoditas dan
                35 saham</p>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="mt-4">
              <% dataCent.forEach(cent => { %>
              <h5><%= cent.instan %> </h5>
              <p class="text-muted"><%= cent.detail_instan %> </p>
              <% }) %>
            </td>
          </tr>
        </tbody>
      </table>
      <a class="text-light font-weight-bold" style="padding-top: 10px; margin: auto !important;" href="#">Pahami Syarat
        Akun
        Trading
        lainnya ></a>
    </div>
  </div>
</section>
<!-- //============================ end table akun =============================== -->



<!-- //=============================================== berita card ========================================= -->
<section class="section investing-col-bg2">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="card mt-4" style="width: 25rem; border: none; background: none;">
          <img src="images/layanan/customer.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-light mb-2 " style="font-weight: 800; font-size: 15px;">Akun Cent ini ideal
              untuk…
            </h5>
            <h6 class="card-subtitle mb-4 text-light" style="position: relative;"><img src="images/icons/check.png"
                class="mr-2">Pemula yang ingin mencoba layanan kami </h6>
            <h6 class="card-subtitle mb-4 text-light" style="position: relative;"><img src="images/icons/check.png"
                class="mr-2">trader yang ingin menguji EA / robot trading </h6>
            <h6 class="card-subtitle mb-4 text-light" style="position: relative;"><img src="images/icons/check.png"
                class="mr-2">trader yang hanya memiliki sedikit deposit </h6>
            <h6 class="card-subtitle mb-4 text-light" style="position: relative;"><img src="images/icons/check.png"
                class="mr-2">trader yang ingin menguji strategi trading menggunakan lot mikro </h6>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="card mt-4" style="width: 25rem; border: none; background: none;">
          <img src="images/trading/treasure.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title text-light mb-2" style="font-weight: 800; font-size: 15px; ">Dapatkan penghasilan
              berlipat dengan
              membagi trading
            </h5>
            <h6 class="card-subtitle mb-4 text-light" style="position: relative;"><img src="images/icons/check.png"
                class="mr-2">Buka akun Cent di Forex4you dan tandai sebagai akun leader Share4you pada Trader Room agar
              posisi perdagangan Anda tersedia dan dapat diikuti oleh orang lain. Dengan menjadi leader Share4you Anda
              akan mendapatkan komisi hingga 8 USD untuk setiap lot yang disalin oleh para followers. </h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- //=============================================== End berita card ========================================= -->

<%- include('layout/auth_footer.ejs') %>